@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Patrick Hand", cursive;
  background: white;
}

.screen{
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.frame{
  width: 900px;
  height: 500px;
  border: 4px solid #666;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 100px;
  margin-bottom: 50px;
}

.menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category{
  width: 300px;
  padding: 15px;
  border: 3px solid black;
  background: white;
  cursor: pointer;
  font-size: 18px;
}

.category:hover{
  background: black;
  color: white;
}
/* game*/
.topBar {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  margin-bottom: 30px;
}

.backButton {
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  justify-self: start;
   margin-top :-310PX ;
   margin-left: -300px;
}

.catTitle {
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-size: 24px;
  letter-spacing: 4px;
  margin-top :-290PX ;
}

.word{
  margin-top: 10px;
  font-size: 40px;
  letter-spacing: 12px;
  text-align: left;
}
