@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

*{
  box-sizing: border-box;
  
}

body{
  margin: 0;
  font-family: "Patrick Hand", cursive;
  background: white;
}

.screen{
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.frame{
  width: 900px;
  height: 500px;
  border: 4px solid #666;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 100px;
  margin-bottom: 50px;
  margin-top: -80px;
  letter-spacing: 12px;
}

.menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category{
  width: 300px;
  padding: 15px;
  border: 3px solid black;
  background: #ffffff99;
  cursor: pointer;
  font-size: 18px;
  border-radius: 12px;
  font-family: "Patrick Hand", cursive;

}

.category:hover{
  background: black;
  color: white;
}

/* game*/
.topBar{
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  align-items: center;
  width: 100%;
 position: relative;
 top:-70px
}

.backButton{
  border: none;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
  justify-self: start;
  margin: 0;
position: relative;
right: -20px;
  
}

.catTitle{
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-size: 50px;
  letter-spacing: 4px;
  margin: 0;
  position: relative;
  bottom: -30px; ;
}

.timer{
  font-size: 24px;
  justify-self: end;
  margin: 0;   
  position: relative;
  left: -22px; ;
}


.word{
  font-size: 40px;
  letter-spacing: 12px;
  text-align: center;
  margin-top: 30px;
}

.keyboard{
  display: grid;
  grid-template-columns: repeat(10, 52px);
  gap: 12px;
  margin-top: 22px;
  justify-content: center;
  justify-items: center;
}

.key{
  background: #a2626271;
  border: 1px solid #00000020;
  width: 52px;
  height: 52px;
  border-radius: 10px;
  font-family: "Patrick Hand", cursive;
  font-size: 18px;
  cursor: pointer;
  display: grid;
  place-items: center;
   justify-content: center;
}

.key:active{
  transform: scale(0.96);
}
.key:nth-last-child(6){
  grid-column-start: 3;
}


/*win*/

.topBar1{
  display: grid;
  align-items: center;
  width: 100%;
 position: relative;
 top:-130px
}

.wintitle{
  margin: 20px 0 35px;
  font-size: 40px;
  letter-spacing: 4px;
  text-align: center;
 position: relative;
 bottom: -33px;
}

#homeb{
  position: absolute;
  border: none;
  background: transparent;
  font-size: 40px;
  cursor: pointer;
  left: 20px;
  
}

.ROUND{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 90px);
  gap: 18px;
  justify-content: center;
  align-content: start;
 

}
.roundButton{
  width: 90px;
  height: 70px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  display: grid;
  place-items: center; 
  font-family: "Patrick Hand", cursive;
   background: #ffffff99;
  border: 2px solid #000000;
  position: relative;
  top: -40px;
}

.roundButton:hover{
   background: rgb(0, 0, 0);
  color: white;
}

 
/* background */
body {
  margin: 0;
  height: 100vh;
  background-color: white;

  background-image:
    linear-gradient(to right, #ccc 1px, transparent 1px),
    linear-gradient(to bottom, #ccc 1px, transparent 1px);

  background-size: 20px 20px;
}

/* Game Over*/
.hidden{
  display: none !important;
}

.gameOver {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2); 
  z-index: 9999;
}


.gameOverCard {
  background: white;
  padding: 28px 35px;
  border-radius: 16px;
  width: 280px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  font-family: "Patrick Hand", cursive;
}

.gameOverCard h1 {
  font-size: 36px;
  margin-bottom: 6px;
  color: #000000;
}

.gameOverCard p {
  font-size: 18px;
  margin-bottom: 18px;
  color: #666;
}
.btns {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btns button {
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
  transition: 0.2s;
}
#yesB {
  background: #245425;
  color: white;
}
#noB {
  background: #a32d25;
  color: white;
}

.btns button:hover {
  transform: scale(1.05);
}

/*welldone*/
.title1{
  font-size: 100px;
  margin-bottom: 80px;
  letter-spacing: 12px;
}

#homebb{
  position: absolute;
  border: none;
  background: transparent;
  font-size: 40px;
  cursor: pointer;
  left: 20px;
 top: 38px;
}

/*hint*/
.frame{
  position: relative;
}

.hints{
  position: absolute;
  top: 48px;
  right: 80px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.gift{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.gift.used{
  opacity: 0.35;
  pointer-events: none;
}
